    * {
        margin: 0;
        padding: 0;
    }
    
    .background {
        background-image: url("images/image1.jpg");
        background-position: center;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .background h1 {
        color: white;
        background-color: gray;
        text-transform: uppercase;
        padding: 10px 20px;
    }
    
    .section-one {
        font-weight: lighter;
        padding: 30px;
        text-align: center;
    }
    
    .section-two-img {
        background-image: url("images/image2.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
    
    .section-two-img h1 {
        color: white;
        text-align: center;
        vertical-align: center;
        padding: 3px 6px;
        text-transform: uppercase;
    }
    /* ----------------- */
    
    .content-two {
        padding: 30px;
        text-align: center;
        background-color: whitesmoke;
    }
    
    .section-one h3 {
        margin-bottom: 20px;
        color: gray;
        text-transform: capitalize;
    }
    
    .content-two h3 {
        margin-bottom: 20px;
        color: gray;
        text-transform: capitalize;
    }
    
    .section-three-img {
        background-image: url("images/image3.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .section-three-img h1 {
        color: white;
        text-align: center;
        vertical-align: center;
        padding: 3px 6px;
        text-transform: uppercase;
        font-weight: lighter;
    }
    
    .section-three {
        background-image: url("images/image3.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 70vh;
    }
    
    .section-three-content {
        background-color: black;
        color: white;
        padding: 30px;
        text-align: center;
    }
    
    .chicago-bg {
        background-image: url("images/image1.jpg");
        background-position: center;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .chicago-bg h1 {
        color: white;
        background-color: gray;
        text-transform: uppercase;
        padding: 10px 20px;
    }